---
pagination:
  data: eras
  size: 1
  alias: era
permalink: "era/{{ era.slug }}/index.html"
layout: base.njk
eleventyComputed:
  title: "{{ era.name }} - Anna's Song Vault"
---

<div class="bg-gray-100 bg-stone-pattern border border-gray-300 shadow-lg rounded-lg p-8 max-w-2xl mx-auto mt-10">
    <h1 class="text-3xl font-extrabold text-gray-900 mb-4">{{ era.name }}</h1>
    <p class="text-lg text-gray-700 font-medium">{{ era.description }}</p>
    
    <div class="mt-8">
        <a href="/" class="text-gray-600 hover:text-gray-900 font-semibold transition-colors">&larr; Back to Eras</a>
    </div>
</div>
