---
layout: base.njk
title: Anna's Song Vault
---

<div class="max-w-4xl mx-auto mt-10">
    <h1 class="text-3xl font-bold text-gray-900 mb-8 text-center drop-shadow-sm">Welcome. Pick an era.</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {% for era in eras %}
        <a href="/era/{{ era.slug }}/" class="block group">
            <div class="bg-gray-200 bg-stone-pattern border border-gray-300 aspect-square rounded-lg flex items-center justify-center text-gray-800 text-2xl font-bold shadow-md transition-all transform group-hover:scale-105 overflow-hidden group-hover:border-gray-500 group-hover:shadow-lg">
                <div class="p-6 text-center">{{ era.name }}</div>
            </div>
            <p class="mt-4 text-gray-700 font-medium text-center">{{ era.description }}</p>
        </a>
        {% endfor %}
    </div>
</div>
